.banner {
    background-image: url(https://demo037126.web30s.vn/datafiles/web30s/upload/images/7101-7200/30S-03-7126/breadcrumbs-bg.png);
    background-size: cover;
    background-position: 50% 50%;
    padding: 180px 10px;
    z-index: 7;
    height: auto;
    display: block;
}
.col {
    width: 100%;
    order: 1;
    display: block;
    .childrens {
        width: 100%;
        height: auto;
        position: relative;
        .title {
            height: auto;
            width: 100%;
            color: var(--c-1668480455247, #282828);
            font-size: 40px;
            top: 0;
            left: 0px;
            font-family: Playfair Display;
            font-weight: 600;
            margin: 0px 0px 15px;
            display: block;
            position: relative;
        }
    }
    .breadscrumb {
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: inline-flex;
        position: relative;
        .breadscrumb-item {
            color: var(--c-1668480455247, #282828);
            margin: auto 3px;
            font-weight: 500;
            font-size: 18px;
            &:hover {
                color: var(--c-1668480518886, #fc7c7c);
            }
        }
        .breadscrumb-icon {
            color: var(--c-1668480518886, #fc7c7c);
            font-size: 18px;
        }
        .active {
            color: var(--c-1668480518886, #fc7c7c);
        }
    }
}
@media (max-width: 576px) {
    .banner {
        padding: 100px 10px;
    }
}
