.contact {
    font-size: 14px;
    min-height: 40px;
    padding: 20px 20px;
}
.Hop {
    width: 80%;
    margin: 50px auto;
}
.contact-box {
    display: flex;
}
.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right {
    flex-basis: 40%;
}
.contact-right form {   
    margin: 20px 0px 20px 0px;
    font-size: 16px;
    display:flex;
    flex-direction: column;
}
.contact-right input{
    width: 100%;
    padding:20px
}
.contact-right textarea {
    width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 10px 20px;
    font-size: 16px;
}
.button {
    border-radius: 25px;
    background-color: var(--c-1668480339968, #fc7c7c);
    font-size:18px;
    text-align: center;
    text-transform: uppercase;
    width:40%
}
.icon{
    color: #fc7c7c;
}
.contact-left {
    p {
    font-size: 16px;
    padding: 20px 0px 20px 0px;
}
}
.contact-left h3 {
    font-size: 32px;
    padding: 20px 0px 20px 0px;
}
.line {
    border-top: 3px dashed black;
}
