.contact-box {
    display: flex;
    padding: 80px 0;
}
.contact-left {
    flex: 60%;
    padding-right: 60px;
    padding-bottom: 40px;
}
.contact-body {
    width: 100%;
    color: var(--c-1668480455247, #282828);
    font-size: 16px;
    text-align: center;
    top: 0;
    left: 0px;
    height: auto;
    justify-content: flex-start;
    font-weight: 400;
    line-height: 30px;
    transition: all 300ms ease;
    margin: 0px 0px 10px;
    display: inline-flex;
    position: relative;
    &:hover {
        color: var(--c-1668480518886, #fc7c7c);
        cursor: pointer;
    }
}
.contact-right {
    flex: 40%;
}
.contact-right form {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.input-contact {
    width: 100%;
    height: 48px;
    top: unset;
    margin: 0px 0px 20px 0px;
    display: inline-block;
    left: unset;
    position: relative;
}
.contact-right input[type='text'] {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 10px 20px 10px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--c-1668480630600, #d9d9d9);
    background-color: #f9f9f9;
}
.textarea-contact {
    margin: 0px 0px 20px 0px;
    width: 100%;
    height: auto;
}
.contact-right textarea {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 10px 20px 10px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--c-1668480630600, #d9d9d9);
    background-color: #f9f9f9;
    font-size: 16px;
    resize: vertical;
}
.btn-contact {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}
.capcha-contact {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    font-style: italic;
    font-family: cursive;
    font-size: 27px;
    letter-spacing: 2px;
    user-select: none;
}
.button-contact {
    width: 180px;
    height: 47px;
    left: 0;
    top: 0;
    cursor: pointer;
    background-color: var(--c-1668480339968, #fc7c7c);
    color: #fff;
    text-align: center;
    transition: all 300ms ease;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 25px;
    display: inline-flex;
    position: relative;
    &:hover {
        background-color: #2b4174;
    }
}
.icon {
    color: #fc7c7c;
    padding: 7px 10px 0px 0px;
}
.contact-left {
    .content-contact {
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 400;
    }
}
.contact-left .title-contact {
    height: auto;
    width: 100%;
    color: var(--c-1668480455247, #282828);
    font-size: 32px;
    top: 0;
    left: 0px;
    font-weight: 600;
    margin: 0px 0px 25px;
    border-style: dashed;
    font-family: Playfair Display;
    text-transform: initial;
    overflow: visible;
    line-height: 50px;
    text-align: left;
    border-color: var(--c-1668480630600, #d9d9d9);
    border-width: 0px 0px 1px;
    padding: 0px 0px 10px;
    display: block;
    position: relative;
}
@media screen and (max-width: 768px) {
    .Hop {
        margin: auto;
    }
    .contact-box {
        flex-direction: column;
    }
    .contact-right {
        flex: 100%;
    }
    .contact-left {
        flex: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    .contact-right form {
        margin: auto;
        width: 100%;
    }
    .button {
        width: 100%;
    }
}
@media screen and (max-width: 1078px) and (min-width: 768px) {
    .button {
        width: 60%;
    }
}

@media screen and (min-width: 1078px) {
    .button {
        width: 70%;
    }
}
