.select {
    margin: 0 auto;
    padding: 100px 0;
    --widthcontainer: 1200px;
    width: var(--widthcontainer);
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    .cart {
        border-right: 1px solid rgb(218, 218, 218);
        width: 100%;
        padding: 30px 30px 30px 0;
        h3 {
            font-size: 28px;
            margin: 20px 0px 15px;
            text-align: center;
            font-family: Playfair Display;
            font-weight: 600;
            line-height: 42px;

            color: var(--c-1668480455247, #282828);
            &:hover {
                color: #fc7c7c;
                transition: 0.5s;
            }
        }
        p {
            height: auto;
            width: 100%;
            top: 0;
            left: 0px;
            text-align: center;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            position: relative;
            font-weight: 400;
            overflow: hidden;
        }
        .img {
            width: 100%;
            height: auto;
        }
    }
}
.discountGoods {
    margin: 0 auto;
    --widthcontainer: 1200px;
    width: var(--widthcontainer);
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    .discount1 {
        background-image: url('https://demo037126.web30s.vn/datafiles/38469/upload/images/home/banner1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        border-radius: 25px;
        width: 100%;
    }
    .discount2 {
        background-image: url('https://demo037126.web30s.vn/datafiles/38469/upload/images/home/banner2.png');
        background-position: 50% 50%;
        border-radius: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
}
.position {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 45px;
}
h3 {
    font-size: 28px;
    color: var(--c-1668480487215, #2b4174);
    font-weight: 600;
}
.title-h2 {
    margin-top: 10px;
    text-align: left;
    font-family: Playfair Display;
    line-height: 42px;
    font-weight: 600;
    padding: 0px 100px 0px 0px;
    font-size: 36px;
}
.btnProduct {
    width: auto;
    color: var(--c-1668480534016, #fff);
    font-size: 14px;
    border-radius: 15px;
    border: none;
    font-family: Roboto, sans-serif;
    text-align: center;
    background: var(--c-1668480339968, #fc7c7c);
    padding: 13px 40px;
    height: auto;
    font-weight: 600;
    transition: 0.5s;
    &:hover {
        background: var(--c-1668480369240, #2b4174);
        cursor: pointer;
    }
}
.armorial {
    margin: 0 auto;
    --widthcontainer: 1200px;
    width: var(--widthcontainer);
    max-width: 100%;
    height: 300px;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: #243a6e;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px;
    gap: 10px;
    .img1 {
        border-right: 1px solid #425788;
        background-image: url('https://demo037126.web30s.vn/datafiles/38469/upload/images/home/brand1.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .img2 {
        border-right: 1px solid #425788;
        background-image: url('https://demo037126.web30s.vn/datafiles/38469/upload/images/home/brand2.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .img3 {
        border-right: 1px solid #425788;
        background-image: url('https://demo037126.web30s.vn/datafiles/38469/upload/images/home/brand3.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .img4 {
        border-right: 1px solid #425788;
        background-image: url('https://demo037126.web30s.vn/datafiles/38469/upload/images/home/brand4.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .img5 {
        background-image: url('https://demo037126.web30s.vn/datafiles/38469/upload/images/home/brand5.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}
.mainDirectory {
    margin: 0 auto;
    --widthcontainer: 1200px;
    width: var(--widthcontainer);
    max-width: 100%;
    height: auto;
    padding: 100px 10px;
    h3 {
        color: var(--c-1668480455247, #282828);
        font-size: 42px;
        top: 0;
        left: 0px;
        text-align: center;
        font-family: Playfair Display;
        font-weight: 600;
        line-height: 60px;
    }
    .cakes {
        margin: 15px 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .span {
            border-color: #dee2e6;
            border-width: 0px;
            border-style: solid;
            color: var(--c-1668480487215, #2b4174);
            font-size: 18px;
            margin-right: 10px;
            font-weight: 500;
            padding: 10px;
            transition: all 0.3s;
            user-select: none;
            &:hover {
                cursor: pointer;
                color: var(--c-1668480518886, #fc7c7c);
                font-size: 18px;
                text-decoration: underline;
            }
        }
        .noSpan {
            color: var(--c-1668480518886, #fc7c7c);
            font-size: 18px;
            text-decoration: underline;
            margin-right: 10px;
            font-weight: 500;
            padding: 10px;
            border-width: 0px;
            border-style: solid;
            cursor: pointer;
        }
        .noSpan1 {
            color: var(--c-1668480518886, #fc7c7c);
            font-size: 18px;
            text-decoration: underline;
            margin-right: 10px;
            font-weight: 500;
            padding: 10px;
            border-width: 0px;
            border-style: solid;
            cursor: pointer;
        }
        .noSpan2 {
            color: var(--c-1668480518886, #fc7c7c);
            font-size: 18px;
            text-decoration: underline;
            margin-right: 10px;
            font-weight: 500;
            padding: 10px;
            border-width: 0px;
            border-style: solid;
            cursor: pointer;
        }
    }
    .productsList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
    }
}
.allKindsOfBread {
    margin: 0 auto;
    height: auto;
    padding: 110px 10px;
    background-image: url('https://demo037126.web30s.vn/datafiles/web30s/upload/images/7101-7200/30S-03-7126/banner-fullwidth1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    display: block;
    position: relative;
    h3 {
        font-size: 36px;
        color: var(--c-1668480487215, #2b4174);
        font-weight: 500;
        text-align: center;
    }
    h2 {
        color: var(--c-1668480455247, #282828);
        font-size: 45px;
        padding: 0;
        margin: 0px 0px 15px;
        text-align: center;
        font-family: Playfair Display;
        line-height: 60px;
        font-weight: 600;
    }
    p {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 30px;
    }
    button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
.slick {
    margin: 0 auto;
    --widthcontainer: 1200px;
    width: var(--widthcontainer);
    max-width: 100%;
    height: auto;
    padding: 100px 10px;
    .promotionalProducts {
        h2 {
            padding: 0;
            color: var(--c-1668480455247, #282828);
            font-size: 42px;
            top: 0;
            left: 0px;
            text-align: center;
            font-family: Playfair Display;
            font-weight: 600;
            line-height: 60px;
        }
        p {
            padding: 0;
            margin: 15px auto 45px;
            height: auto;
            width: 70%;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            display: block;
            position: relative;
        }
    }
}
.news {
    margin: 0 auto;
    --widthcontainer: 1200px;
    width: var(--widthcontainer);
    max-width: 100%;
    margin: 0 auto;
    --widthcontainer: 1200px;
    width: var(--widthcontainer);
    max-width: 100%;
    padding: 100px 0;
    overflow: hidden;
    .text {
        h2 {
            padding: 0;
            color: var(--c-1668480455247, #282828);
            font-size: 42px;
            text-align: center;
            font-family: Playfair Display;
            font-weight: 600;
            line-height: 60px;
        }
        p {
            margin: 20px auto 0;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            width: 60%;
            color: #282828;
        }
    }
    .context {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        .cart {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 15px;
            position: relative;
            width: 383.333px;
            margin-right: 25px;
            .img {
                width: 100%;
                height: 50%;
                overflow: hidden;
                border-radius: 15px;
                img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.5s ease;
                    cursor: pointer;
                }
            }

            .icon {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                background-color: #fff;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                position: absolute;
                left: 80%;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                z-index: 10;
                .arrow {
                    font-size: 18px;
                    font-weight: 500;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover {
                    background-color: #fc7c7c;
                    cursor: pointer;
                    .arrow {
                        color: #fff;
                    }
                }
            }
            .drama {
                width: 100%;
                height: auto;
                top: 0;
                left: 0px;
                background-color: var(--c-1668480311287, #fff);
                padding: 35px 25px;
                overflow: visible;
                display: block;
                position: relative;
                h5 {
                    height: 90px;
                    width: 100%;
                    color: var(--c-1668480487215, #2b4174);
                    font-size: 20px;
                    top: 0;
                    left: 0px;
                    font-family: Playfair Display;
                    font-weight: 600;
                    line-height: 30px;
                    transition: all 300ms ease;
                    margin: 0px 0px 20px;
                    position: relative;
                    &:hover {
                        color: var(--c-1668480518886, #fc7c7c);
                        cursor: pointer;
                    }
                }
                .icon-view {
                    width: auto;
                    color: var(--c-1668480487215, #2b4174);
                    font-size: 16px;
                    text-align: center;
                    top: 0;
                    left: 0px;
                    height: auto;
                    transition: all 300ms ease;
                    font-weight: 600;
                    margin: 0px 20px 0px 0px;
                    display: inline-flex;
                    align-items: center;
                    position: relative;
                    > svg {
                        padding: 0px 7px 0px 0px;
                        color: var(--c-1668480518886, #fc7c7c);
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }
                    span {
                        color: var(--c-1668480487215, #2b4174);
                        font-size: 16px;
                    }
                }
            }
            &:hover {
                .img {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
@media (min-width: 575px) and (max-width: 992px) {
    .select {
        padding: 60px 10px;
        display: grid;
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 30px 30px;
        .cart {
            h3 {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    .discountGoods {
        padding: 0px 10px;
        h3 {
            font-size: 23px;
        }
        h2 {
            padding: 0px 50px 0px 0px;
            font-size: 30px;
            line-height: 38px;
            margin: 0px 0px 15px;
        }
    }
    .mainDirectory {
        padding: 60px 10px;
        h3 {
            font-size: 35px;
            line-height: 50px;
        }
    }
    .allKindsOfBread {
        background-position: 50% 50%;
        padding: 60px 10px;
        height: auto;
        display: block;
        h3 {
            font-size: 25px;
        }
        h2 {
            font-size: 35px;
            line-height: 50px;
        }
    }
    .mainDirectory {
        .productsList {
            grid-template-columns: 1fr 1fr;
        }
    }
    .slick {
        padding: 60px 10px;
        .promotionalProducts {
            .title-h2 {
                font-size: 35px;
                line-height: 50px;
            }
            p {
                width: 100%;
            }
        }
    }
    .news {
        padding: 100px 0;
        overflow: hidden;
        .title-h2 {
            font-size: 35px;
            line-height: 50px;
        }
        .text {
            p {
                width: 100%;
                left: 0px;
                padding: 0 10px;
            }
        }
        .context {
            padding: 0 10px;
            .cart {
                width: 358px;
            }
        }
    }
}

@media (max-width: 576px) {
    .select {
        padding: 60px 10px;
        display: grid;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 30px 30px;
        .cart {
            h3 {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    .discountGoods {
        padding: 0px 10px;
        grid-template-columns: repeat(1, 1fr);
        h3 {
            font-size: 20px;
        }
        h2 {
            padding: 0px 50px 0px 0px;
            font-size: 23px;
            line-height: 30px;
            margin: 0px 0px 15px;
        }
    }
    .position {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 25px;
    }
    .mainDirectory {
        padding: 60px 10px;
        h3 {
            font-size: 30px;
            line-height: 50px;
        }
        .cakes {
            flex-wrap: wrap;
            .span {
                font-size: 16px;
            }
        }
    }
    .allKindsOfBread {
        background-position: 50% 50%;
        padding: 60px 10px;
        height: auto;
        display: block;
        h3 {
            font-size: 25px;
        }
        h2 {
            font-size: 30px;
            line-height: 40px;
        }
    }
    .mainDirectory {
        .productsList {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px 10px;
        }
    }
    .slick {
        padding: 60px 10px;
        .promotionalProducts {
            .title-h2 {
                font-size: 30px;
                line-height: 40px;
            }
            p {
                width: 100%;
            }
        }
    }
    .news {
        padding: 100px 0;
        overflow: hidden;
        .title-h2 {
            font-size: 35px;
            line-height: 50px;
        }
        .text {
            p {
                width: 100%;
                left: 0px;
            }
        }
        .context {
            padding: 0 10px;
            .cart {
                width: 358px;
            }
        }
    }
}
