.birthdayCake {
    margin: 0 auto;
    padding: 0px 150px 0;
    --widthcontainer: 1200px;
    width: var(--width-container);
    max-width: 100%;
    background-image: url('https://demo037126.web30s.vn/datafiles/web30s/upload/images/7101-7200/30S-03-7126/bg-banner-01.jpg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    height: 730px;
    .brithday {
        display: flex;
        width: 100%;
        align-items: center;
        .discount {
            width: 44%;
            height: auto;
            h3 {
                font-size: 30px;
                color: var(--c-1668480487215, #2b4174);
                font-weight: 600;
            }
            h2 {
                margin: 15px 0 0;
                margin-top: 15px;
                font-size: 60px;
                text-align: left;
                font-family: Playfair Display;
                line-height: 80px;
                font-weight: 600;
            }
            .although {
                margin-top: 40px;
                display: flex;
                gap: 30px;
                button {
                    color: var(--c-1668480534016, #fff);
                    font-size: 18px;
                    border-radius: 50px;
                    font-family: Roboto, sans-serif;
                    text-align: center;
                    background-color: var(--c-1668480339968, #fc7c7c);
                    padding: 10px 40px;
                    border: none;
                    height: auto;
                    font-weight: 600;
                    transition: 1s;

                    &:hover {
                        background-color: #2b4174;
                        transition: 1s;
                    }
                }
                .button {
                    color: var(--c-1668480534016, #fff);
                    font-size: 18px;
                    border-radius: 50px;
                    font-family: Roboto, sans-serif;
                    text-align: center;
                    background-color: var(--c-1668480339968, #2b4174);
                    padding: 10px 40px;
                    border: none;
                    height: auto;
                    font-weight: 600;
                    &:hover {
                        background-color: #13e150;
                        transition: 1s;
                    }
                }
            }
        }
        .img {
            width: 56%;
            height: auto;
            .brithdayCakeImg {
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: contain;
                top: 0;
                left: 0;
                width: 100%;
                position: relative;
                opacity: 0;
                transition: opacity 2s ease;
                animation-name: example;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                animation-timing-function: ease;
                animation-fill-mode: both;
            }
            .show {
                opacity: 1;
            }
        }
    }
}
@media (max-width: 1146px) {
    .birthdayCake {
        .brithday {
            .discount {
                padding: 0px;
                .although {
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .button {
                        font-size: 14px;
                        width: 170px;
                        height: 45px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1078px) {
    .birthdayCake {
        padding: 10px;
        .brithday {
            .discount {
                padding: 00px;
                .although {
                    margin-top: 15px;
                    display: flex;

                    .button {
                        padding: 10px 20px;
                        font-size: 16px;
                        width: 150px;
                        height: 45px;
                    }
                    button {
                        padding: 10px 20px;
                        font-size: 16px;
                        width: 150px;
                        height: 45px;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .birthdayCake {
        .brithday {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            flex-wrap: wrap;
            .discount {
                h3 {
                    margin-top: 160px;
                    font-size: 20px;
                    text-align: center;
                }
                h2 {
                    margin: 0;
                    padding: 0;

                    font-size: 25px;
                    text-align: center;
                }
                .although {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .img {
                width: 200px;
                margin: 0 auto;
                .brithdayCakeImg {
                    margin-top: 10px;
                }
            }
        }
    }
}
@keyframes example {
    0% {
        top: 0px;
    }

    50% {
        top: 30px;
    }

    100% {
        top: 0px;
    }
}
