.News {
    padding: 100px 0px;
}
.Hop {
    margin: auto;
    display: flex;
    flex-direction: row;
}
.news-left {
    flex-basis: 33.3333%;
    padding: 0px 30px 0px 0px;
    display: block;
}
.wrapper {
    width: 100%;
    height: auto;
    top: 0;
    left: 0px;
    background-color: var(--c-1668650473184, #f6f6f6);
    padding: 30px;
    border-radius: 5px;
    margin: 0px 0px 30px;
    display: block;
    position: relative;
}
.news-right {
    width: 66.66666667%;
}
.New_img {
    background-image: url(https://demo037126.web30s.vn/datafiles/38469/upload/images/tin-tuc/photo1636173931780-16361739319271242885976.png?t=1668479886);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 0;
    top: 0;
    left: 0px;
    border-radius: 10px;
    transition: all 500ms ease;
    display: block;
    padding: 0 0 75% 0;
    position: relative;
}
.New_img2 {
    background-image: url(https://demo037126.web30s.vn/datafiles/38469/upload/images/tin-tuc/doc-dao-banh-kem-dieu-khac-cua-co-gai-9x-que-ca-mau-1.png?t=1668479886);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 0;
    top: 0;
    left: 0px;
    border-radius: 10px;
    transition: all 500ms ease;
    display: block;
    padding: 0 0 75% 0;
    position: relative;
}
.New_img3 {
    background-image: url(https://demo037126.web30s.vn/datafiles/38469/upload/images/tin-tuc/hiec-banh-sinh-nhat-hot-nhat-hien-nay-mo-ra-biet-ngay-tinh-ban.jpg?t=1668479886);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 0;
    top: 0;
    left: 0px;
    border-radius: 10px;
    transition: all 500ms ease;
    display: block;
    padding: 0 0 75% 0;
    position: relative;
}
.New_img4 {
    background-image: url(https://demo037126.web30s.vn/datafiles/38469/upload/images/tin-tuc/bi-nguoi-than-up-mat-vao-banh-sinh-nhat-cau-be-co-hanh-dong-khien-tat-ca-sung-so-1.png?t=1668479886);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 0;
    top: 0;
    left: 0px;
    border-radius: 10px;
    transition: all 500ms ease;
    display: block;
    padding: 0 0 75% 0;
    position: relative;
}
.New_img5 {
    background-image: url(https://demo037126.web30s.vn/datafiles/38469/upload/images/tin-tuc/nga-ngua-khi-mua-banh-sinh-nhat-online-1.jpg?t=1668479886);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 0;
    top: 0;
    left: 0px;
    border-radius: 10px;
    transition: all 500ms ease;
    display: block;
    padding: 0 0 75% 0;
    position: relative;
}
.New_img6 {
    background-image: url(https://demo037126.web30s.vn/datafiles/38469/upload/images/tin-tuc/chiec-banh-sinh-nhat-cua-gen-z-diem-tinh-va-khong-thich-mau-me-gay-bat-ngo-1.PNG?t=1668479887);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 0;
    top: 0;
    left: 0px;
    border-radius: 10px;
    transition: all 500ms ease;
    display: block;
    padding: 0 0 75% 0;
    position: relative;
}
.new_text {
    width: 100%;
    height: auto;
    background-color: var(--c-1668480311287, #fff);
    padding: 35px 25px;
    display: block;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    color: #007bff;
    &:hover {
        color: var(--c-1668480339968, #fc7c7c);
    }
}
.box {
    font-weight: 500;
    color: var(--c-1668480455247, #282828);
    border-style: solid;
    border-color: var(--c-1668480630600, #d9d9d9);
    border-width: 1px;
    border-radius: 15px;
    padding: 10px;
    transition: all 300ms ease;
    cursor: pointer;
    &:hover {
        background-color: var(--c-1668480339968, #fc7c7c);
        color: var(--c-1668480534016, #fff);
        border-style: solid;
        border-color: var(--c-1668480339968, #fc7c7c);
        border-width: 1px;
    }
}
.box-text {
    margin-top: 15px;
}
.box_tag {
    display: inline-block;
    margin: 3px;
    border-style: solid;
    border-color: var(--c-1668480630600, #d9d9d9);
    border-width: 1px;
    border-radius: 50px;
    padding: 4px 20px;
    cursor: pointer;
    &:hover {
        background-color: var(--c-1668480339968, #fc7c7c);
        color: var(--c-1668480534016, #fff);
        border-style: solid;
        border-color: var(--c-1668480339968, #fc7c7c);
        border-width: 1px;
    }
}
.search {
    width: 15%;
    border-radius: 0px 15px 15px 0px;
    padding: 10px;
    border-left: none;
    color: var(--c-1668480534016, #fff);
    border-color: var(--c-1668480339968, #fc7c7c);
    background-color: var(--c-1668480339968, #fc7c7c);
    min-height: 40px;
    &:hover {
        background-color: var(--c-1668480339968, #007bff);
        color: var(--c-1668480534016, #fff);
        border-style: solid;
        border-color: var(--c-1668480339968, #007bff);
        border-width: 1px;
    }
}
.input-search {
    width: calc(100% - 60px);
    height: 100%;
    border-radius: 15px;
}
.box_search {
    top: 0;
    left: 0px;
    width: 100%;
    height: 50px;
    border-style: solid;
    border-color: var(--c-1668480630600, #d9d9d9);
    border-width: 1px;
    border-radius: 15px;
    position: relative;
}
.input {
    padding: 0px 0px 0px 15px;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    outline: 0;
    background: 0 0;
    display: block;
    text-align: inherit;
    color: inherit;
    font-weight: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    border-radius: inherit;
}
.icon-search {
    position: absolute;
    font-size: 16px;
    width: 60px;
    height: 100%;
    background-color: var(--c-1668480339968, #fc7c7c);
    color: #fff;
    right: 0px;
    top: 0;
    border-radius: 0px 15px 15px 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fc7c7c;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        background-color: #2b4174;
        border-color: #2b4174;
    }
}

.new-text {
    width: calc(100% - 100px);
    height: auto;
    top: 0;
    left: 0px;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0px 0px 15px;
    position: relative;
    p {
        height: auto;
        width: 100%;
        color: var(--c-1668480455247, #282828);
        font-size: 15px;
        top: 0;
        left: 0px;
        margin: 0px 0px 0px;
        text-align: left;
        font-family: Playfair Display;
        line-height: 25px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        transition: all 300ms ease;
        position: relative;
        overflow: hidden;
        transition: all 300ms ease;
        &:hover {
            cursor: pointer;
            color: var(--c-1668480518886, #fc7c7c);
        }
    }
}
.sidebar_div {
    display: flex;
    border-style: solid;
    border-color: var(--c-1668480630600, #d9d9d9);
    border-width: 0px 0px 1px;
    padding: 0px 0px 20px;
    overflow: hidden;
}
.img-new {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}
.img-new:hover .sidebar_img {
    transform: scale(1.1);
    cursor: pointer;
}
.sidebar_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms ease;
}
.newst {
    display: grid;
    width: 100%;
    margin: 0px;
    overflow: inherit;
    min-height: 10px;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px 20px;
}
.sidebar_text {
    width: 50%;
    float: right;
    &:hover {
        color: var(--c-1668480339968, #fc7c7c);
    }
}

.context {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 25px 25px;
    display: grid;

    .cart {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 15px;
        position: relative;
        width: 383.333px;
        margin-right: 25px;
        .img {
            width: 100%;
            height: 50%;
            overflow: hidden;
            border-radius: 15px;
            img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s ease;
                cursor: pointer;
            }
        }

        .icon {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-color: #fff;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            position: absolute;
            left: 80%;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            z-index: 10;
            .arrow {
                font-size: 18px;
                font-weight: 500;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:hover {
                background-color: #fc7c7c;
                cursor: pointer;
                .arrow {
                    color: #fff;
                }
            }
        }
        .drama {
            width: 100%;
            height: auto;
            top: 0;
            left: 0px;
            background-color: var(--c-1668480311287, #fff);
            padding: 35px 25px;
            overflow: visible;
            display: block;
            position: relative;
            h5 {
                height: 90px;
                width: 100%;
                color: var(--c-1668480487215, #2b4174);
                font-size: 20px;
                top: 0;
                left: 0px;
                font-family: Playfair Display;
                font-weight: 600;
                line-height: 30px;
                transition: all 300ms ease;
                margin: 0px 0px 20px;
                position: relative;
                &:hover {
                    color: var(--c-1668480518886, #fc7c7c);
                    cursor: pointer;
                }
            }
            .icon-view {
                width: auto;
                color: var(--c-1668480487215, #2b4174);
                font-size: 16px;
                text-align: center;
                top: 0;
                left: 0px;
                height: auto;
                transition: all 300ms ease;
                font-weight: 600;
                margin: 0px 20px 0px 0px;
                align-items: center;
                position: relative;
                > svg {
                    padding: 0px 7px 0px 0px;
                    color: var(--c-1668480518886, #fc7c7c);
                    align-items: center;
                    justify-content: center;
                }
                span {
                    color: var(--c-1668480487215, #2b4174);
                    font-size: 16px;
                }
            }
        }
        &:hover {
            .img {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .news-left {
        flex-basis: 100%;
    }
    .Hop {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .news-right {
        flex-basis: 100%;
        margin: 0 auto;
    }
    .sidebar_img {
        padding: 20% 0 0 0;
        margin: 0 auto;
    }
    .News {
        font-size: 14px;
        padding: 0px;
    }
    .news-right-div {
        max-height: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
@media screen and (max-width: 1078px) and (min-width: 768px) {
    .search {
        width: 30%;
    }
    .box_search {
        width: 70%;
    }
    .news-right-div {
        max-height: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media screen and (min-width: 1078px) {
}
